*{
    margin: 0; 
    padding: 0;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.Wrap{
    border: 2px solid #ddd;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;   
    position: relative;
}
.Wrap > .js_slider{
    overflow: hidden;
}

.Wrap > .js_slider .slider{
    position: relative;
    transition: 0.5s;
}